@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');
@font-face {
  font-family: 'Android';
  src: url('../fontes/idroid.otf') format('opentype');
  font-weight: normal;
}
:root{

  --cor0: #c5edb6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-android: 'Android', cursive;
}
/* tirando todas as margens abaixo */

* {

  margin: 0px;
  padding: 0px;
}

body{
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

header {

  background-color: var(--cor4);
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}

header > h1{
  color: white;
  font-family: var(--fonte-destaque);
  font-size: 3em;
  margin-bottom: 20px;
}

header > p {
  color: white;
  font-size: 1.2em;
  font-family: var(--fonte-padrao);
  max-width: 500px;
  margin: auto;
}

nav {

  background-color: var(--cor5);
  

}

main {

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
  color: var(--cor5);
  font-family: var(--fonte-android);
}

main h2 {
  font-family: var(--fonte-android);
}

main img {
  width: 100%;
}

main img.pequena {
  width: 50%;
  display: block;
  margin: auto;
}

footer {

  background-color: var(--cor5);
  color: white;
}